appdirs==1.4.4
async-generator==1.10
beautifulsoup4==4.11.1
bs4==0.0.1
cattrs==22.2.0
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.10.0
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.0.4
Fiona==1.9.1
Flask==2.2.2
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.0.2
flatten-json==0.1.13
fuzzywuzzy==0.18.0
geopandas==0.10.2
gfm==0.0.3
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
html2text==2015.11.4
html5lib==1.1
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jupyter==1.0.0
kiwisolver==1.2.0
Levenshtein==0.20.9
linecache2==1.0.0
lxml==4.9.0
Markdown==2.6.11
MarkupSafe==2.1.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
nbconvert==5.5.0
nom==1.5.1
numpy==1.18.5
outcome==1.2.0
port==1.1.6
psycopg2==2.9.5
py-gfm==0.1.1
pycparser==2.21
pycurl==7.45.1
Pygments==2.1.3
pymongo==3.9.0
pyncei==1.0
pyparsing==2.4.7
pyproj==3.2.1
PyRSS2Gen==1.1
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.21.0
python-Levenshtein==0.20.9
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==6.0
rapidfuzz==2.13.7
requests==2.24.0
requests-cache==0.9.7
scikit-learn==1.0.2
seaborn==0.12.2
selenium==4.7.2
shapely==2.0.1
six==1.15.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
splinter==0.18.1
SQLAlchemy==1.4.44
terminado==0.9.4
threadpoolctl==3.1.0
tornado==6.0.4
tqdm==4.64.1
traceback2==1.4.0
trio==0.22.0
trio-websocket==0.9.2
unittest2==1.1.0
url-normalize==1.4.3
urllib3==1.25.11
watchdog==2.1.8
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-server==0.4
Werkzeug==2.2.2
wincertstore==0.2
wsproto==1.2.0